body {
    background-color: black;
}
.words {
    color: aliceblue;
}
.people {
    width: 500px;
    height: 400px;
}
div {
    width: 350px;
    height: 200px;
    align-self: center;
}